#main {
    display: flex;
    margin-top: 40px;
}

#matches-container {
    flex: 0 0 300px;
    padding: 10px;
}

#details-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-card {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.team-card.red {
    background-color: red;
}

.team-card.blue {
    background-color: blue;
}

.team-number {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.team-name {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.next-match {
    display: block;
    font-size: 0.9em;
    margin-top: 5px;
}

body {
    color: white;
    font-family: sans-serif;
    background-color: #333;
    transition: padding-top 0.3s ease;
}

#alertContainer {
    display: none;
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease;
}

#alertContainer.on-deck {
    background-color: red;
    color: white;
}

#header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    transition: top 0.3s ease;
}

#nexusApiKey {
    width: 500px;
}

#tbaApiKey {
    width: 500px;
}

#teamnum, #eventname, #settings {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#teamnum {
    text-align: left;
}

#eventname {
    flex: 1;
    width: 80%;
    text-align: center;
}

#settings {
    text-align: right;
    cursor: pointer;
}

#settingsPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#closeSettings {
    position: fixed;
    top: 40px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}

#teamNumberInput {
    width: 100px;
}

#eventDropdown {
    width: 500px;
}

#matchesList {
    width: 300px;
}

#matches {
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: 75;
    position:absolute
}

.match {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto;
    height:70px;
    width: 100%;
}

.match h3 {
    grid-row: span 2;
    color: white;
    width: 100%;
    margin-left: 5px;
}

.red-alliance, .blue-alliance {
    color: white;
    padding: 5px;
    margin: 0px;
}

.red-alliance {
    background-color: red;
}

.blue-alliance {
    background-color: blue;
}

.match.highlight-current {
    border: 2px solid yellow;
    background-color: #555;
}

#matchDetails {
    margin-top: 20px;
}

#redAlliance, #blueAlliance {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: space-around;
}

#redAlliance {
    background-color: darkred;
}

#blueAlliance {
    background-color: darkblue;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 30%;
}

.team img {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}

#streamContainer {
    display: none;
    position: fixed;
    top: 50px;
    left: 25%;
    width: 75%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}